@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto+Slab:wght@400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Slab', serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-yellow: #c5b45d;
    --soft-red: #ae343d;
    --soft-brown: #222220;
    --soft-gray: #b4ae9e;
}

audio {
    display: none;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    margin-top: 60px;
}

.app {
    max-width: 1440px;
    margin: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--soft-yellow);
    border-radius: 24px 24px 0 0;

}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* .lateral-ui {
    position: fixed;
    top: 0;
    left: 100px;
    height: 100vh;
    width: 40px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    z-index: 100;
}

.lateral-brown {
    background-color:var(--soft-brown);
}
.lateral-red {
    background-color:var(--soft-red);
}
.lateral-gray {
    background-color:var(--soft-gray);
}
.lateral-black {
    background-color: black;
}
.lateral-yellow {
    background-color: var(--soft-yellow);
} */


/* NAVIGATIONS */
.nav {
    background-color: white;
    width: 100%;
    margin-bottom: 60px;
    border-radius: 24px 24px 0 0;
}

.nav_songs {
    display: grid;
    grid-template-columns: 100px 1fr;
    justify-items: center;
    align-items: center;
    min-height: 120px;

}

.nav_title {
    margin: 0 30px;
}

.nav_songs h1 {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--soft-red);
}

/* .nav_title h1:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: writeMachine 1s infinite;
} */

.disc_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disc {
    background: url('/public/media/images/disc.png');
    background-size: contain;
    width: 80px;
    height: 80px;
    align-self: center;
}

.disc.active {
    animation: spin 1s linear infinite;
}

.agulha {
    width: 30px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 101;
    transform: rotate(-50deg);

    transition: 700ms;
}

.agulha.active {
    transform: rotate(0deg);

}

[data-player="player"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    z-index: 50;
    cursor: pointer;
}

.nav_navigation {
    padding-top: 120px;
}

/* INFORMATIONS */

.informations {
    margin-top: 220px;
}

.info_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.info_band {
    position: relative;
    margin-bottom: 80px;
}

.info_band h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info_band sup {
    font-family: 'Roboto Mono', serif;
    font-size: 1rem;
    letter-spacing: 1px;
    
    position: absolute;
    top: -20px;
    right: -30px;
}

.info_band a {
    text-decoration: none;
    color: black;
}

.info_band p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.info_playlist {
    justify-self: end;
}

.info_playlist .music {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;

    font-family: 'Roboto Mono', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;

    margin-bottom: 20px;
    transition: 700ms;
}

.info_playlist .music:hover {
    background-color: var(--soft-red);
    cursor: pointer;
}

/* COVER */
.album {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 600px;
}

.album_cover {
    width: 50%;
    height: 100%;
    max-height: 100%;
    background: url('/public/media/images/capa_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    position: relative;
}

.cover_zoom {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 310px;
    /* transform: translateX(-50%); */

    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--soft-red);
    transition: 700ms;
}

.cover_zoom:hover {
    transform: scale(1.2);
}
.cover_zoom::before {
    content: '+';
    margin-right: 20px;
}






























@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes writeMachine {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}